.events-list {
  table {
    color: rgba(0, 0, 0, .5);
  }

  img {
    width: 30px;
    height: 30px;
  }

  .event-list-item-img-wrapper {
    padding: .75rem;
  }

  .bg-info {
    background: rgb(185, 226, 196) !important;
  }

  .status {
    color: #fff;
  }

  @media screen and (max-width: 991px) {
    margin: 0;
    padding-right: 0;
  }
}