.event-info-wrapper {
    color: rgba(0, 0, 0, .5);

    .card-title {
        color: rgb(32, 133, 57);
      }
}

.event-comments {
    margin-top: 50px;
    .btn-mark {
        width: 30px;
        height: 30px;
        padding: 0;
    }
}