{% extends "admin/dashboard.html.twig" %}

{% block content %}

    <div>
        <a href="{{ path("admin_event", {id: comment.event.id}) }}" class="btn btn-dark">Event</a>
    </div>

    <div>
        <a href="{{ path("admin_customer", {id: comment.user.id}) }}"  class="btn btn-dark">Customer</a>
    </div>

    <form action="{{ path("admin_comment_edit", {id: comment.id}) }}" method="post">
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control"  id="comment" name="comment" rows="5">{{ comment.comment }}</textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}
