<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}HERE!{% endblock %}</title>
        <title>Geolocation</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <style>
            /* Always set the map height explicitly to define the size of the div
             * element that contains the map. */
            #map {
                height: 100%;
            }
            /* Optional: Makes the sample page fill the window. */
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>

    {% block body %}{% endblock %}
    <div id="app" data-is-authenticated="{{ isAuthenticated }}" data-user="{{ user }}"></div>
{#    <div id="map"></div>#}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}
{#    <script>#}
{#      // Note: This example requires that you consent to location sharing when#}
{#      // prompted by your browser. If you see the error "The Geolocation service#}
{#      // failed.", it means you probably did not give permission for the browser to#}
{#      // locate you.#}
{#      var map, infoWindow;#}
{#      function initMap() {#}
{#        map = new google.maps.Map(document.getElementById('map'), {#}
{#          center: {lat: -34.397, lng: 150.644},#}
{#          zoom: 15#}
{#        });#}
{#        infoWindow = new google.maps.InfoWindow;#}

{#        // Try HTML5 geolocation.#}
{#        if (navigator.geolocation) {#}
{#          navigator.geolocation.getCurrentPosition(function(position) {#}
{#            var pos = {#}
{#              lat: position.coords.latitude,#}
{#              lng: position.coords.longitude#}
{#            };#}

{#            infoWindow.setPosition(pos);#}
{#            infoWindow.setContent('Location found.');#}
{#            infoWindow.open(map);#}
{#            map.setCenter(pos);#}
{#          }, function() {#}
{#            handleLocationError(true, infoWindow, map.getCenter());#}
{#          });#}
{#        } else {#}
{#          // Browser doesn't support Geolocation#}
{#          handleLocationError(false, infoWindow, map.getCenter());#}
{#        }#}
{#      }#}

{#      function handleLocationError(browserHasGeolocation, infoWindow, pos) {#}
{#        infoWindow.setPosition(pos);#}
{#        infoWindow.setContent(browserHasGeolocation ?#}
{#          'Error: The Geolocation service failed.' :#}
{#          'Error: Your browser doesn\'t support geolocation.');#}
{#        infoWindow.open(map);#}
{#      }#}
{#    </script>#}
{#    <script async defer#}
{#            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8tn4RHLk-bOQMf6SJLjX-kpl0yZ-tctE&callback=initMap">#}
{#    </script>#}



    </body>
</html>
